@media (max-width: 992px){
    :root{
        --nav-height: 4em;
        --footer-height: 5em;
    }
}
@media (max-width: 768px){
    :root{
        --nav-height: 4em;
        --footer-height: 5em;
    }
    #recently, #forme, #popular{
        flex-wrap: wrap;
    }
    .played{
        width: 45%;
    }
}
@media (max-width: 576px){
    :root{
        --nav-height: 4em;
        --sidebar-width: 3em;
        --footer-height: 5em;
    }
}