@import "color.css";
@import "flex.css";
@import "utils.css";

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* generals */
:root{
    --nav-height: 4em;
    --sidebar-width: 12em;
    --sidebar-bottom-height: 5em;
    --footer-height: 5em;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
/* header */
/* nav button */
nav{
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    height: var(--nav-height);
    justify-content: center;
    z-index: 1;

}
button{
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    margin: 5px 10px;
    align-self: center;
    padding: 8px 40px;
    background-color: var(--dark-purple);
}
/* internav */
#internav, a{
   margin-right: 1em ;
   color: var(--lightgrey);
   font-weight: bolder;
   font-size: smaller ;
}

/* sidebar */
#sidebar{
    position: fixed;
    top:0;
    left: 0;
    bottom: var(--footer-height);
    width: var(--sidebar-width);
    color: var(--grey);
}
#sidebar-bottom hr{
   width: 150px;
}
#sidebar-top{
    height: calc(100% - var(--sidebar-bottom-height));
}
#sidebar-bottom{
    height: var(--sidebar-bottom-height);
}
/* first container */
.logo{
    height: 40px;
    margin-left: 0.5em;
    margin-top: 1em;
    width: max-content;
}
.small-logo{
    display:none;
    margin-top: 1em;
}

.small-photo{
    height: 28px ;
}
.fa-solid.fa-plus{
    width: 2em;
    height: 2em;
    background-color: #666;
    color: #000;
    text-align: center;
    line-height: 2em;
   
}
.side-row{
margin-top: 10px;
align-items: center;
}
.side-row>*{
    margin-left: 10px;
}
/* second container */
ul li{
    margin-top: 15px;
    margin-left: 0.5em;
     list-style: none;
     color: var(--grey)
}
/* third container */

/* main */
main{
    position: fixed;
    top: 0;
    padding-top: calc( var(--nav-height) + 1em );
    left: var(--sidebar-width);
    right: 0;
    bottom: var(--footer-height);
    padding-right: 1em;
    padding-left: 1em;
}
/* music squares */
#recently, #forme, #popular{
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.played{
    max-width: 200px;
}
.played, .played img{
   width: 100%;
}
.played>*{
    text-align: center;
    margin-top: 10px;
}
h5{
    font-size:15px;
    color:var(--grey);
    font-weight: bolder;
}

#recently>*,#forme>*,#popular>*{
    margin-right: 1em;
    margin-bottom: 1em;
}
.rounded img{
    border-radius: 200px;
}
/* footer */
footer{
    position: fixed;
    height: var(--footer-height);
    bottom: 0;
    left: 0;
    right: 0;
}
.barra{
    width: 400px;
    height: 10px;
    border: 5px solid #666;
    border-radius: 10px;
    margin-top: 1em;
}

.minute{
    margin-right:5px;
    margin-left: 5px;
    margin-top: 1em;

}
.small-barra{
    width: 100px;
    border: 5px solid #666;
    height: 5px;
    border-radius: 10px;
}
/* effects */
.played {
    transition: transform 0.5s ;
}
.played:hover{
    transform:translateY(-10px)scale(1.05) ;
}
.played:hover figure{
    position: relative;
}
.played:hover figure::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}
.played:hover figure::after{
    content: '\f144';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 3em;
    font-family:'font awesome 5 free';
    font-weight: 500;
}
button:hover{
    font-size:1em
}
#internav a:hover{
    color: white;
}
ul li:hover{
    color:white
}
#sidebar-top a:hover{
    color:white
}


